/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Page Layout */
body {
  background-color: #f8f8f8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Heading */
.heading {
  color: #333;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.card {
  height: 100px;
  width: 90px;
  margin: 10px;
  background-color: #fff00f;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.6s ease-out;
  display: grid;
  place-items: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.card img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  opacity: 0;
  border-radius: 10px;
}

.card.clicked {
  background-color: #FF7F50;
}

.card.goed {
  background-color: lightgreen;
}

.card.clicked img,
.card.goed img {
  opacity: 1;
}

.card.shake {
  background-color: rgb(249, 76, 76);
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

